<div class="row column">
  <%= form.text_field :source, placeholder: t(".source_example", host: form.object.host), data: {required: true} %>
  <p class="help-text"><%= t(".source_help") %></p>
</div>

<div class="row column">
  <%= form.check_box :source_is_case_sensitive, checked: form.object.source_is_case_sensitive? %>
</div>

<div class="row column">
  <%= form.text_field :destination, placeholder: t(".destination_example", host: form.object.host), data: {required: true} %>
</div>

<div class="row column">
    <%= form.check_box :active %>
</div>
